<div id="main_container">

  <div class="link_button">
    <a id="chart1" href="#">Chart</a>
  </div>

  <div class="link_button">
    <a id="chart2" href="#">Chart</a>
  </div>

  <div id="container">

  </div>

  <div id="container2">

  </div>


</div>
