<div id="main_container">

<nav>

  <% @charts.each do |c| %>
    <div class="link_button">
      <a id="<%= c.id %>" href="/charts/<%= c.id %>"> <%= c.chart_name %> </a>
    </div>
  <% end %>
</nav>

<div id="graphs">

  <div id="container1">

  </div>

</div>

  <div>

  <form id="stocks_form" method="get" action="/stocks">
    <input name="stock_symbol" value"" placeholder="Stock Symbol" required />
    <input id="stocks_button" type="submit" value="Get some Stock" class="button" />
  </form>

  <div id="stock_container">

  </div>

  </div>

</div>
