<div id="main_container">

  <div class="link_button">
    <a id="chart1" href="/charts/1">Maddie</a>
  </div>

  <div class="link_button">
    <a id="chart2" href="/charts/2">Looks1</a>
  </div>

  <div class="link_button">
    <a id="chart3" href="/charts/3">Looks2</a>
  </div>

  <div id="graphs">

    <div id="container1">
      
    </div>

  </div>


</div>
