<div id="main_container">

<nav>
  <% @charts.each do |c| %>
    <div class="link_button">
      <a id="<%= c.id %>" href="/charts/<%= c.id %>"> <%= c.chart_name %> </a>
    </div>
  <% end %>
</nav>

<div id="graphs">

  <div id="container1">

  </div>

</div>


</div>
