<div id="main_container">

  <div class="link_button">
    <a id="chart1" href="#">Chart1</a>
  </div>

  <div class="link_button">
    <a id="chart2" href="#">Chart2</a>
  </div>

  <div class="link_button">
    <a id="#reset" href="#">Reset</a>
  </div>

  <div class="link_button">
    <a id="#ajax_example" href="#">Ajax</a>
  </div>

  <div id="container1">

  </div>

  <div id="container2">

  </div>


</div>
